* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.page {
  background-color: #ffffff;
  width: 45%;
  height: 83rem;
  margin: 1% auto;
  border-radius: 1%;
}

/* #pega somente o ID
.+nome funciona somente para class 
ou .{} é global */

img {
  margin-left: 16%;
}

p {
  margin-left: 5%;
  margin-bottom: 5%;
}

/* figure{
  text-align:right;
} */

h1 {
  text-align: center;
  color: #1b1b1b;
  font-size: 1.75rem;
}

h2,
h3 {
  text-align: center;
  color: #1b1b1b;
  font-size: 1.25rem;
}

body {
  background: #eaeaea;
  font-family: 'Roboto', sans-serif;
}

ul,
ol {
  margin-left: 5%;
  color: #1b1b1b;
  font-size: 1rem;
}

footer {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
